//import main style variables
@import "src/style"

//define your variables here

// Begin: Block Styles
.hpu-blocks-avatar__image img
  width: 100%

.hpu-blocks-avatar.aligncenter
  .components-resizable-box__container
    margin: 0 auto

// This block has customizable padding, border-box makes that more predictable.
    box-sizing: border-box
    line-height: 0
  img
    box-sizing: border-box

  &.aligncenter
    text-align: center
