
// BEGIN: Scaffold with media queries
$breakpoint-small: 576px
$breakpoint-medium: 768px
$breakpoint-large: 992px

.hpu-blocks-preformatted
  // This block has customizable padding, border-box makes that more predictable.
  box-sizing: border-box
  white-space: pre-wrap

// END: Scaffold with media queries
