
// BEGIN: Scaffold with media queries

// Define breakpoints
$breakpoint-small: 576px
$breakpoint-medium: 768px
$breakpoint-large: 992px

// Default styles
.hpu-blocks-social-links
  // This block has customizable padding, border-box makes that more predictable.
  box-sizing: border-box

  padding-left: 0
  padding-right: 0
  // Some themes set text-indent on all <ul>
  text-indent: 0
  // Some themes give all <ul> default margin instead of padding.
  margin-left: 0

  // Unset background colors that can be inherited from Global Styles.
  background: none

  // Some themes add underlines, false underlines (via shadows), and borders to <a>.
  .wp-social-link a,
  .wp-social-link a:hover
    text-decoration: none
    border-bottom: 0
    box-shadow: none

  .wp-social-link
    // By setting the font size, we can scale icons and paddings consistently based on that.
    // This also allows themes to override this, if need be.
    a
      padding: 0.25em

    svg
      width: 1em
      height: 1em

.hpu-blocks-social-link
  display: block
  border-radius: 9999px // This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized.
  transition: transform 0.1s ease

  a
    align-items: center
    display: flex
    line-height: 0
    transition: transform 0.1s ease

// This needs specificity because themes usually override it with things like .widget-area a.
.hpu-blocks-social-links .hpu-blocks-social-link.wp-social-link
  display: inline-block
  margin: 0
  padding: 0

  .hpu-blocks-social-link-anchor
    svg
      color: currentColor
      fill: currentColor

// Treatment for logos only style.
.hpu-blocks-social-links.is-style-logos-only
  .wp-social-link
    background: none

    a
      padding: 0

    // Make these bigger.
    svg
      width: 1.25em
      height: 1.25em

// Treatment for pill shape style.
.hpu-blocks-social-links.is-style-pill-shape
  .wp-social-link
    width: auto

// Small screens
@media (max-width: $breakpoint-small)
  .social-links
    // Styles for small screens here

// Medium screens
@media (min-width: $breakpoint-medium)
  .social-links
    // Styles for medium screens here

// Large screens
@media (min-width: $breakpoint-large)
  .social-links
    // Styles for large screens here

// END: Scaffold with media queries
