
// BEGIN: Scaffold with media queries

// Define breakpoints
$breakpoint-small: 576px
$breakpoint-medium: 768px
$breakpoint-large: 992px

// Default styles
.block-editor-template-part__selection-modal
  z-index: z-index("&")

  .block-editor-block-patterns-list
    column-count: 2
    column-gap: 10px

    .block-editor-block-patterns-list__list-item
      break-inside: avoid-column

.block-library-template-part__selection-search
  background: #fff
  position: sticky
  top: 0
  padding: 5px 0
  z-index: z-index("&")

// END: Scaffold with media queries
