// Without a .wp-block- prefix somewhere in this file, the styles will not be applied to the block editor.
.wp-block-hpu-blocks {
  clear: both;
}

//By importing this stylesheet into the other stylesheets, we can use the variables declared here in all the stylesheets.
//This is a good practice to keep the variables in one place and use them in all the stylesheets.
//Declaration of variables
$primary-color: #330072;
$secondary-color: #9678d3;
$muted-color: #818183;
$alert-color: #e87d0d;
$emphasis-color: #41b6e6;
$dark-color: #231f20;
$light-color: #ffffff;

$font-family: "bitter",
sans-serif;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;

body {
  font-family: $font-family;
}

p.hpu-blocks-primary-style {
  color: $dark-color;
}

p.hpu-blocks-secondary-style {
  color: $primary-color;
  background-color: $muted-color;
  padding-left: 5px;
}

p.hpu-blocks-muted-style {
  color: $muted-color;
  font-style: italic;
  font-size: $font-size-small;
}

p.hpu-blocks-emphasis-style {
  color: $dark-color;
  background-color: $muted-color;
  font-weight: bold;
  font-size: $font-size-large;
  border-color: $alert-color;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 5px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.hpu-blocks-primary-style {
  ul.wp-block-archives {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: $primary-color;
      text-decoration: none;

      :hover {
        color: $emphasis-color;
      }
    }
  }

  div.wp-block-button {

    :hover {
      background-color: $emphasis-color;

    }

    .wp-block-button__link {
      color: $light-color;
      text-decoration: none;
      background-color: $primary-color;
    }

  }

  h2 {
    color: $primary-color;
    text-transform: uppercase;

  }

  li {
    color: $dark-color;
    list-style: circle;
  }
}

.hpu-blocks-secondary-style {
  ul.wp-block-archives {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: $secondary-color;
      text-decoration: none;

      :hover {
        color: $emphasis-color;
      }
    }
  }

  div.wp-block-button {


    :hover {
      background-color: $emphasis-color;

    }

    .wp-block-button__link {
      color: $light-color;
      text-decoration: none;
      background-color: $secondary-color;
    }

  }

  h2 {
    color: $secondary-color;
    text-shadow: 2px 2px 2px $dark-color;
    text-transform: lowercase;
  }

  li {
    color: $dark-color;
    list-style-type: none; // Remove default list style

    &::before {
      content: "\f105"; // Unicode for the Dashicon you want to use
      font-family: "dashicons";
      display: inside;
      margin-right: 8px; // Space between the icon and the list item text
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.hpu-blocks-muted-style {
  ul.wp-block-archives {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: $muted-color;
      text-decoration: none;

      :hover {
        color: $emphasis-color;
      }
    }
  }

  div.wp-block-button {

    :hover {
      background-color: $emphasis-color;

    }

    .wp-block-button__link {
      color: $light-color;
      text-decoration: none;
      background-color: $muted-color;
    }

  }

  h2 {
    color: $muted-color;
    text-transform: lowercase;

  }

  li {
    color: $dark-color;
    list-style: square;
  }
}

.hpu-blocks-emphasis-style {
  ul.wp-block-archives {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: $dark-color;
      text-decoration: none;

      :hover {
        color: $emphasis-color;
      }
    }
  }

  div.wp-block-button {


    :hover {
      background-color: $emphasis-color;

    }

    .wp-block-button__link {
      color: $light-color;
      text-decoration: none;
      background-color: $dark-color;
    }

  }

  h2 {
    color: $dark-color;
    text-transform: uppercase;
    font-weight: bolder;
  }

  li {
    color: $dark-color;
    list-style: none;
  }
}

.color-block-support-panel {
  display: none !important;
}

.typography-block-support-panel {
  display: none !important;
}